<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button>Fechar</ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button color="danger">Apagar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list [inset]="true">
    <ion-item>
      <ion-textarea>
        
      </ion-textarea>
    </ion-item>
  </ion-list>

  <ion-item>
    <ion-label position="stacked">Estado</ion-label>
    <ion-select placeholder="Selecione o estado">
      <ion-select-option value="todo">TO DO</ion-select-option>
      <ion-select-option value="done">DONE</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Prioridade</ion-label>
    <ion-select placeholder="Selecione a prioridade">
      <ion-select-option value="baixa">BAIXA</ion-select-option>
      <ion-select-option value="normal">NORMAL</ion-select-option>
      <ion-select-option value="critica">CRÍTICA</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-button expand="block" class="ion-margin-top">Gravar</ion-button>
</ion-content>